<div class="ads-container">
    <div class="google-ads">
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5210825966321952"
            crossorigin="anonymous"></script>
        <!-- souq-today-top -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5210825966321952"
            data-ad-slot="7414189616" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>