<div class="ads-container">
    <div class="google-ads">
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5210825966321952"
            crossorigin="anonymous"></script>
        <!-- TeenTalk -->
        <ins class="adsbygoogle" style="display:inline-block;width:300px;height:600px"
            data-ad-client="ca-pub-5210825966321952" data-ad-slot="6648318387"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>