.ads-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.google-ads {
    max-width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
