<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="/assets/logo.svg" alt="Logo" width="120">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">الصفحة الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">العملات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">الذهب</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">المحروقات</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            الأخبار
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">دولار</a>
            <a class="dropdown-item" href="#">يورو</a>
            <a class="dropdown-item" href="#">ليرة تركية</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
