<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="./assets/img/logo.svg" alt="Logo" width="120">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">السلع الأساسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">المنتجات الحيوانية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">المحروقات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">أسعار السوق</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">الأسعار الرسمية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">الأخبار</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            قدم بلاغ
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">احتكار</a>
            <a class="dropdown-item" href="#">اسعار مبالغ فيها</a>
            <a class="dropdown-item" href="#">تهريب مواد تموينية</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
