    <footer>
        <div class="footer-section">
            <p>جميع الحقوق محفوظة لصالح © 2023-2022</p>
        </div>
        <div class="footer-section">
            <p>تابعنا على :</p>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="footer-section">
            <p>تواصل معنا :</p>
            <a href="#"><i class="fab fa-apple"></i></a>
            <a href="#"><i class="fab fa-google-play"></i></a>
        </div>
    </footer>
