<div class="live-price-tracker-container">
    <div class="live-price-tracker">
        <div class="item-card" *ngFor="let item of items">
            <div class="card">
                <div class="card-body">
                    <div class="column">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="item-value">{{ item.price }} LE</p>
                        <p class="change" [ngClass]="{ 'positive': item.change > 0, 'negative': item.change < 0 }">
                            <i class="fa fa-arrow-{{ item.change >= 0 ? 'up' : 'down' }}"></i>
                            {{ item.change }}%
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
