.live-price-tracker-container {
    overflow-x: hidden;
    white-space: nowrap;
    background-color: var(--primary-color);
}

.live-price-tracker {
    display: flex;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.item-card {
    flex: 0 0 auto;
    animation: marquee 10s linear infinite;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-right: 15px;
    padding: 0; /* Remove padding for a cleaner appearance */
    border: none;
}

.card-body {
    padding: 5px 15px 0px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    font-size: 1.3em;
    font-weight: 50px;
    color: var(--light-color);
    text-align: center;
    margin-bottom: 2px;
}

.item-value {
    font-size: 1.3em;
    font-weight: bold;
    color: var(--light-color);
    margin-bottom: 2px;
}

.positive {
    color: var(--positive-color);
}

.negative {
    color: var(--negative-color);
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}