.grocery-prices {
    width: 300px;
    border: 1px solid #ccc;
    font-family: sans-serif;
  }
  
  .item-header {
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
  }
  
  .item:hover{
    background-color: var(--primary-color);
    color: var(--light-color);
  }
  
  .change {
    display: flex;
    align-items: center;
  }
  
  .change-text {
    margin-right: 5px;
    font-size: 12px;
  }
  
  .see-full-list {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  .green {
    color: green;
  }
  
  .red {
    color: red;
  }
  .date{
    color: var(--accent-color);
    font-weight: bold;
  }