.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chart-canvas {
    width: 50% !important;
    height: 400px !important;
    border: 1px solid #ddd; /* Optional border for clarity */
  }
  
  .button-group {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
  
  @media (max-width: 768px) {
   .chart-canvas {
    width: 100% !important;
    height: 400px !important;
    border: 1px solid #ddd; /* Optional border for clarity */
  }
}