:root {
    --primary-color: #262b30;
    --secondary-color: #2d4059;
    --accent-color: #ff5722;
    --light-color: #eeeeee;
    --positive-color: #3d8a3f;
    --negative-color: #ce0101;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    direction: rtl;
    font-family: 'YourLovelyFont', sans-serif;
    overflow-x: hidden;
}

.container {
    overflow-x: hidden;
  }
